---
pagination:
  data: collections.posts
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: '/blog/{{ post.url }}'
---
{{> "ghost"}}

{{#with post}}

<article class="gh-article">
	<header class="gh-header gh-canvas">
		{{!-- <span class="gh-post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span
				class="bull">&bull;</span> {{reading_time}}</span> --}}
		<h1 class="gh-title">{{title}}</h1>

		{{#if custom_excerpt}}
		<p class="gh-excerpt">{{custom_excerpt}}</p>
		{{/if}}

		{{#if feature_image}}
		<img class="gh-feature-image" src="{{feature_image}}" alt="{{title}}" />
		{{/if}}
	</header>

	<div class="gh-content gh-canvas">
		{{{html}}}
	</div>

	<footer class="gh-footer gh-canvas">
		{{#primary_author}}
		<div class="gb-author-wrap">
			<div class="gb-author-avatar">
				<img src="{{profile_image}}" class="gb-author-avatar-img" height="100" width="100">
			</div>
			<div class="gb-author-name">
				<a href="{{url url}}">{{name}}</a>
			</div>
			<div class="gb-author-bio">
				<p>{{bio}}</p>
			</div>
		</div>
		{{/primary_author}}
	</footer>

</article>

{{!-- <aside class="gh-readmore">
	<div class="gh-readmore-inner gh-container">
		<div class="gh-readmore-next">
			{{#next_post}}<a href="{{url}}">{{> "icons/arrow-left"}} <h4>{{title}}</h4></a>{{/next_post}}
		</div>
		<div class="gh-readmore-prev">
			{{#prev_post}}<a href="{{url}}">
				<h4>{{title}}</h4> {{> "icons/arrow-right"}}
			</a>{{/prev_post}}
		</div>
	</div>
</aside>
 --}}
{{/with}}

{{#block this "seo"}}
	<!--Twitter Card-->
	<meta name="twitter:site" content="{{ site.twitter }}">
	<meta name="twitter:creator" content="{{ post.primary_author.twitter }}">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
	<meta name="twitter:title" content="{{ post.title }} – {{ site.title }}">
	<meta name="twitter:description" content="{{ post.excerpt }}">
	<meta name="twitter:image" content="{{ post.feature_image }}">

	<!--Schema-->
	<link rel="author" href="{{ post.primary_author.website }}">
	<link rel="publisher" href="{{ site.url }}">
	<meta itemprop="name" content="{{ post.title }} – {{ site.title }}">
	<meta itemprop="description" content="{{ post.excerpt }}">
	<meta itemprop="image" content="{{ post.feature_image }}">

	<!-- Facebook OpenGraph -->
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ post.title }} – {{ site.title }}">
	<meta property="og:image" content="{{ post.feature_image }}">
	<meta property="og:description" content="{{ post.excerpt }}">
	<meta property="og:site_name" content="{{ site.title }}">
	<meta property="og:locale" content="{{ site.lang }}">
	<meta property="article:author" content="{{ site.url }}">
{{/block}}
