---
pagination:
  data: collections.tags
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: 'blog/{{ tag.url }}'
---

<div class="gh-page">
	<div class="gh-container">
		{{#with tag}}
		<header class="gh-page-head">
			<h1>{{name}}</h1>
			<p>
				{{#if description}}
					{{description}}
				{{else}}
					A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
				{{/if}}
			</p>

			{{#if feature_image}}
				<img class="gh-page-image" src="{{feature_image}}" alt="{{name}}" />
			{{/if}}
		</header>

			<div class="gh-postfeed">
				{{#each posts}}
					{{> "post-card"}}
				{{/each}}
			</div>
		{{/with}}
	</div>
</div>

{{#block this "seo"}}
<!--Twitter Card-->
<meta name="twitter:site" content="{{ site.twitter }}">
<meta name="twitter:creator" content="{{ site.twitter }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ site.url}}{{ page.url }}">
<meta name="twitter:title" content="{{ title }} – {{ site.title }}">
<meta name="twitter:description" content="{{ tag.description }}">
<meta name="twitter:image" content="{{ tag.feature_image }}">

<!--Schema-->
<link rel="publisher" href="{{ site.url }}">
<meta itemprop="name" content="{{ title }} – {{ site.title }}">
<meta itemprop="description" content="{{ content }}">
<meta itemprop="image" content="{{ tag.feature_image }}">

<!-- Facebook OpenGraph -->
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }} – {{ site.title }}">
<meta property="og:image" content="{{ tag.feature_image }}">
<meta property="og:description" content="{{ content }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="{{ site.lang }}">
<meta property="article:author" content="{{ site.url }}">
{{/block}}
