<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Site icons -->
	<meta name="theme-color" content="#5E3B4D" />
	<link rel="shortcut icon" href="/static/assets/favicon.svg" type="image/svg+xml">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/static/assets/favicon.svg">
	<link rel="manifest" href="/static/assets/manifest.webmanifest">
	{{{meta}}}
	<link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-touch-icon-180.png" />
	<link rel="mask-icon" href="/static/assets/safari-pinned-tab.svg" color="#5e3b4d" />
	<meta name="msapplication-TileColor" content="#5E3B4D" />
	<meta name="msapplication-config" content="/static/assets/browserconfig.xml" />

	<link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Playfair+Display:700" rel="stylesheet">
	<link rel="stylesheet" href="{{asset "style.css"}}">
	{{{blockContent "head"}}}
	<script src="https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js"></script>
</head>

<body class="is-boxed has-animations">
	<div class="body-wrap boxed-container">
		<header class="site-header text-light">
			<div class="container">
				<div class="site-header-inner">
					<div class="brand header-brand">
						<h1 class="m-0">
							<a href="/" class="header-link">
								<img src="/static/images/logo.svg" alt="Logo" />
								{{#unless hideHeaderLogoText}}
								<img src="/static/images/logo-text.png" alt="Gradebook" />
								{{/unless}}
							</a>
						</h1>
					</div>
				</div>
			</div>
		</header>

		<main>
			{{#blockContent "hero"}}
				<section class="hero text-center text-light">
					{{{content}}}
				</section>
			{{else}}
			<section class="hero text-center text-light" style="padding: 50px"></section>
			{{/blockContent}}
			{{{content}}}
		</main>

		<footer class="site-footer">
			<div class="container">
				<div class="site-footer-inner">
					<div class="site-footer-top">
						<div class="site-footer-unit">
							<div class="site-footer-unit-inner">
								<div class="brand footer-brand mb-24">
									<img src="/static/images/logo.svg" alt="Logo" />
									<img src="/static/images/logo-text.png" alt="Gradebook" />
								</div>
								<ul class="footer-social-links list-reset">
									<!--<li>
                                        <a href="#" aria-label="Facebook">
                                            <svg width="16" height="16">
                                                <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z" fill="#FFF"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-label="Twitter">
                                            <svg width="16" height="16">
                                                <path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z" fill="#FFF"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/aggie-gradebook/" target="_blank" aria-label="LinkedIn">
                                            <svg width="16" height="16" viewBox="0 0 24 24">
                                                <path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z" fill="#FFF"/>
                                            </svg>
                                        </a>
                                    </li>-->
								</ul>
							</div>
						</div>
						<div class="site-footer-unit">
							<div class="site-footer-unit-inner">
								<div class="footer-top-links">
									<div class="footer-title mb-16">About</div>
									<ul class="list-reset">
										<li><a href="/blog">Blog</a></li>
										<li><a href="/team">Our Team</a></li>
										<li><a href="/donate">Donate</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="site-footer-unit">
							<div class="site-footer-unit-inner">
								<div class="footer-top-links">
									<div class="footer-title mb-16">Disclaimers</div>
									<ul class="list-reset">
										<li><a href="/terms-of-service">Terms of Service</a></li>
										<li><a href="/privacy-policy">Privacy Policy</a></li>
										<li><a href="/security">Security</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="site-footer-unit">
							<div class="site-footer-unit-inner">
								<div class="footer-top-links">
									<div class="footer-title mb-16">Services</div>
									<ul class="list-reset">
										<li><a href="/enterprise">Enterprise Partnerships</a></li>
										<li><a href="/support">Get in Touch</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="site-footer-bottom">
						<ul class="footer-bottom-links list-reset">
							<!--<li><a href="mailto:contact@gradebook.app">Contact</a></li>-->
							<!--<li><a href="#">FAQ's</a></li>
                            <li><a href="#">Terms</a></li>-->
						</ul>
						<div class="footer-copyright">&copy; 2020 Gradebook</div>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script src="{{asset "main.js"}}"></script>
	<script src="{{asset "update-cta.js"}}"></script>
	<script src="{{asset "popup.js"}}"></script>
	{{{blockContent "footer"}}}
</body>

</html>
